<mat-toolbar>
    <div class="burger" (click)="navSlide()">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
    <nav class="toolbar-nav">
        <li><a href="#">Home</a></li>
        <li><a href="#">Jewelry</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Contact us</a></li>
    </nav>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">shopping_cart</mat-icon>
</mat-toolbar> 