<div class="wrapper" >
<app-toolbar></app-toolbar>
<router-outlet></router-outlet>


<!-- <div class="header">
    <div class="container">
        <app-header-logo-part></app-header-logo-part>
    </div>
</div>

<div class="all-ring-section">
    <app-home-rings></app-home-rings>
</div>

<div class="all-bracelets-section">
    <app-home-bracelet></app-home-bracelet>
</div>


<div class="featured-products-section">
    <app-featured-products></app-featured-products>
</div>


<h1>. </h1>
<h1>. </h1>
<h1>. </h1>
<h1>. </h1> -->


<footer *ngIf="!cartService.inCart" class="footer">
   <div class="social">
       <a href=""><img src="assets/fb.svg" alt=""></a>
       <a href=""><img src="assets/insta.svg" alt=""></a>
       <a href=""><img src="assets/twit.svg" alt=""></a>
   </div>

</footer>
</div>