<div class="container">
    <div class="title" #title>
        <h1>
            Rings
        </h1>
    </div>
    <div class="seperator" #seperator>
        <div class="sep-line">
            <div class="icon">
                <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">
                    light_mode</mat-icon>
            </div>
        </div>
    </div>
    <div class="ring-row" #ringRow>
        <!-- <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-2 row-cols-xxl-2"> -->
        <div class="ring-img" >

        </div>
        <div class="description">
            <h1>
                Elegant and Unique as the Woman Who Wears It.
            </h1>
            <button (click)="routeToProducts()" mat-raised-button>
                I need to shine.
            </button>
        </div>
    </div>
</div>