<div class="container">
    <div class="title" #title>
        <h1>
            Bracelets
        </h1>
    </div>
    <div class="seperator" #seperator>
        <div class="sep-line">
            <div class="icon">
                <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">
                    light_mode</mat-icon>
            </div>
        </div>
    </div>
    <div class="bracelet-row" #braceletRow>
     
        <div class="bracelet-img">

        </div>
        <div class="description">
            <h1>
                Everything You Expect in a Precious Bracelet.
            </h1>
            <button mat-raised-button>
                I need to shine.
            </button>
        </div>
    </div>
</div>